Node-Red-Flow.json
[{"id":"5d3a5fa2.743be","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"bc5839d9.d56048","type":"mqtt in","z":"5d3a5fa2.743be","name":"","topic":"smartgym/dumbell1/user","qos":"2","datatype":"auto","broker":"2413b894.61b508","nl":false,"rap":true,"rh":0,"x":1090,"y":300,"wires":[["7e0a46bd.2dfd"]]},{"id":"1190163d.07045a","type":"mqtt out","z":"5d3a5fa2.743be","name":"","topic":"smartgym/dumbell1/repetition","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2413b894.61b508","x":570,"y":300,"wires":[]},{"id":"48612fbc.618208","type":"mysql","z":"5d3a5fa2.743be","mydb":"fa8e0831.9c7228","name":"smartgym","x":620,"y":640,"wires":[["6ea729d6.2d08d8"]]},{"id":"89fbf89e.4f65e","type":"inject","z":"5d3a5fa2.743be","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM dumbell1;","x":310,"y":640,"wires":[["48612fbc.618208"]]},{"id":"6ea729d6.2d08d8","type":"debug","z":"5d3a5fa2.743be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":640,"wires":[]},{"id":"34da14f8.f3a664","type":"function","z":"5d3a5fa2.743be","name":"","func":"var user = context.get(\"user\") || 0;\nvar startTime = context.get(\"startTime\") || 0;\n\nfunction formatDate(date) {\n  var hours = date.getHours();\n  var minutes = date.getMinutes();\n  var secs = date.getSeconds();\n  //var ampm = hours >= 12 ? 'pm' : 'am';\n  //hours = hours % 12;\n  //hours = hours ? hours : 12; // the hour '0' should be '12'\n  minutes = minutes < 10 ? '0'+minutes : minutes;\n  var strTime = hours + ':' + minutes + ':' + secs;\n  return (date.getFullYear()) + \"-\" + date.getMonth() + \"-\" + date.getDate() + \"  \" + strTime;\n}\n\nif (msg.topic == \"repetition\"){\n    var rep = msg.payload;\n    var endTime = formatDate(new Date());\n    msg.topic = \"INSERT INTO dumbell1 VALUES(default, \\\"\"\n        + startTime + \"\\\", \\\"\" + endTime + \"\\\", \\\"\" \n        + user + \"\\\", \" + rep + \");\";\n    return msg;\n}\nelse if (msg.topic == \"user\"){\n    // msg.topic = \"SELECT * FROM test;\";\n    context.set(\"user\", msg.payload);\n    context.set(\"startTime\", formatDate(new Date()));\n}\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":340,"wires":[["301336f5.8046aa"]],"info":"// var tempRep = context.get(\"tempRep\") || 0;\n// var tempUser = context.get(\"tempUser\") || 0;\n\n// if (msg.topic == \"trigger\"){\n//     msg.topic = \"INSERT INTO test VALUES(\" + tempRep + \", 1);\";\n// }\n// else if (msg.topic == \"user\"){\n//     msg.topic = \"SELECT * FROM test;\";\n//     context.set(\"tempUser\", msg.payload);\n// }\n// else if (msg.topic == \"repitition\"){\n//     msg.topic = \"SELECT * FROM test;\";\n//     context.set(\"tempRep\", msg.payload);\n// }\n// return msg;"},{"id":"301336f5.8046aa","type":"mysql","z":"5d3a5fa2.743be","mydb":"fa8e0831.9c7228","name":"smartgym","x":1700,"y":340,"wires":[[]]},{"id":"7c52e307.0d1a04","type":"inject","z":"5d3a5fa2.743be","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"repetition","payload":"3","payloadType":"str","x":260,"y":260,"wires":[["1190163d.07045a"]]},{"id":"d0325d28.79ff68","type":"mqtt out","z":"5d3a5fa2.743be","name":"","topic":"smartgym/dumbell1/user","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2413b894.61b508","x":550,"y":540,"wires":[]},{"id":"e651a924.cb6a8","type":"inject","z":"5d3a5fa2.743be","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"user","payload":"Ernie","payloadType":"str","x":260,"y":500,"wires":[["d0325d28.79ff68"]]},{"id":"2ef653b5.b78374","type":"inject","z":"5d3a5fa2.743be","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"repetition","payload":"5","payloadType":"str","x":260,"y":320,"wires":[["1190163d.07045a"]]},{"id":"f401a73b.429b3","type":"inject","z":"5d3a5fa2.743be","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"user","payload":"Yoga","payloadType":"str","x":260,"y":560,"wires":[["d0325d28.79ff68"]]},{"id":"9fdb1af3.fc2c48","type":"mqtt out","z":"5d3a5fa2.743be","name":"","topic":"smartgym/dumbell1/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2413b894.61b508","x":550,"y":420,"wires":[]},{"id":"49bb8a94.9f6cf4","type":"inject","z":"5d3a5fa2.743be","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"set","payload":"3","payloadType":"str","x":250,"y":380,"wires":[["9fdb1af3.fc2c48"]]},{"id":"3794106f.f5351","type":"inject","z":"5d3a5fa2.743be","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"set","payload":"5","payloadType":"str","x":250,"y":440,"wires":[["9fdb1af3.fc2c48"]]},{"id":"f04983ea.8d99","type":"mqtt in","z":"5d3a5fa2.743be","name":"","topic":"smartgym/dumbell1/repetition","qos":"2","datatype":"auto","broker":"2413b894.61b508","nl":false,"rap":true,"rh":0,"x":1100,"y":380,"wires":[["9ba50176.2dd788"]]},{"id":"7e0a46bd.2dfd","type":"change","z":"5d3a5fa2.743be","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"user","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":300,"wires":[["34da14f8.f3a664"]]},{"id":"9ba50176.2dd788","type":"change","z":"5d3a5fa2.743be","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"repetition","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":380,"wires":[["34da14f8.f3a664"]]},{"id":"bc8e5b8d.2d32b8","type":"inject","z":"5d3a5fa2.743be","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":250,"y":760,"wires":[["da5d0337.38999"]]},{"id":"da5d0337.38999","type":"function","z":"5d3a5fa2.743be","name":"","func":"function formatDate(date) {\n  var hours = date.getHours();\n  var minutes = date.getMinutes();\n  var secs = date.getSeconds();\n  //var ampm = hours >= 12 ? 'pm' : 'am';\n  //hours = hours % 12;\n  //hours = hours ? hours : 12; // the hour '0' should be '12'\n  minutes = minutes < 10 ? '0'+minutes : minutes;\n  var strTime = hours + ':' + minutes + ':' + secs;\n  return (date.getFullYear()) + \"-\" + date.getMonth() + \"-\" + date.getDate() + \"  \" + strTime;\n}\n\n\nmsg.payload = formatDate(new Date())\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":760,"wires":[["e462ace9.301b38"]]},{"id":"e462ace9.301b38","type":"debug","z":"5d3a5fa2.743be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":760,"wires":[]},{"id":"2413b894.61b508","type":"mqtt-broker","name":"","broker":"192.168.0.150","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"fa8e0831.9c7228","type":"MySQLdatabase","name":"","host":"group1mysql.cswd3z7spjym.us-east-1.rds.amazonaws.com","port":"3306","db":"smartgym","tz":"","charset":"UTF8"}]